@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'BhuTuka Expanded One', cursive;
    background-color: #181818;
    color: aliceblue;
}
input { /* Most modern browsers support this now. */
    background-color:    #2c2c2c;
 }
a {
    text-decoration: none;
    color: antiquewhite;
}

/* navigation bar */
.navb {
    position: fixed;
    display: flex;
    background-color: blueviolet;
    width: 100%;
    height: 50px;
    margin-top: 0 !important;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    z-index: 50;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.left img {
    width: 60px;
    margin-left: 20px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    border-radius: 4px;
    border: none;
    height: 12px;
    padding: 8px;
    font-family: cursive;
    flex-shrink: 1;
}

.search:focus {
    border: none;
    outline: none;
}

.center img {
    width: 23px;
    margin: auto;
    margin-left: 12px;
    cursor: pointer;
}

.center img:hover {
    width: 25px;
    margin-left: 10px;
}

.right {
    align-content: flex-end;
    margin-left: 0px;
}

.right img {
    display: none;
    margin-right: 10px;
    width: 0px;
}

.right a {
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
    margin-right: 20px;
}

.right a:hover {

    color: black;

}

.menuop {
    height: 210px;
    width: 100%;
    background-image: linear-gradient(blueviolet, violet);
    position: absolute;
    margin-top: -300px;
    display: flex;
    z-index: 40;
    flex-direction: column;
    padding-top: 60px;
}

.menuop a {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12px;
    font-weight: bold;
    
}

.menuop a:hover {
    color: black;
}

.login {
    display: none;
    flex-direction: column;
    flex-wrap: row wrap;
    flex-shrink: 0;
    padding: 20px 20px;
    width: 50%;
    margin: auto;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    background-color: rgba(24, 24, 24, 0.98);;
    row-gap: 12px;
    z-index: 40;
    border-radius: 6px;
    color: white;
    position: relative;
    top: 60px;
}

.login .info {
    border-radius: 4px;
    border: none;
    height: 12px;
    padding: 8px;
    width: 60%;
    font-size: 1vw;
}

.login .check {
    display: inline;
}
.login p a{
    font-family: cursive;
}

.login .remember {
    display: inline;
    margin-left: 5px;
}

.login button {
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.login h2{
    font-size: 4vw;
}

.close {
    position: relative;
    width: 20px;
    order: 10;
    cursor: pointer;
    display: block;

}




/* section */
section{
    position: relative;
    z-index: 35;
}
.contain-sec{
    padding-top: 50px;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    position: relative;
}
.elements{
    padding: 10px 14px;
    width: auto;
    background-color: rgb(75, 75, 75);
    margin: 10px;
    border-radius: 6px;
}

@media screen and (max-width: 870px) {

    .right a {
        display: none;
    }

    .right img {
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .left img {
        width: 60px;
        margin-left: 0px;
    }

    /* .search {
        border-radius: 8px;
        border: none;
        height: 12px;
        width: 100px;
        padding: 8px;
    } */


}